{% trans_default_domain 'products.category' %}

<ul class="nav nav-pills gap-3 mb-3" id="nav-tab_main">
	<li class="nav-item" role="presentation">
		<button class="btn fw-bolder nav-link active"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_main-tab"
				data-bs-target="#tab_main"
				aria-controls="nav-tab_main"
		>
			<small class="text-uppercase px-3">
				{# Раздел #}
				Раздел </small>
		</button>
	</li>
	
	<li class="nav-item">
		<button class="btn fw-bolder nav-link"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_landing-tab"
				data-bs-target="#tab_landing"
				aria-controls="nav-tab_main"
		>
			<small class="text-uppercase px-3">
				{# Посадочные блоки #}
				Посадочные блоки </small>
		</button>
	</li>
	
	<li class="nav-item">
		<button class="btn fw-bolder nav-link"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_sections-tab"
				data-bs-target="#tab_sections"
				aria-controls="nav-tab_main"
		>
			<small class="text-uppercase px-3">
				{# Свойства продукта #}
				Свойства продукта </small>
		</button>
	</li>
	
	
	<li class="nav-item">
		<button class="btn fw-bolder nav-link"
				data-bs-toggle="tab"
				type="button"
				role="tab"
				aria-selected="true"
				
				id="tab_offers-tab"
				data-bs-target="#tab_offers"
				aria-controls="nav-tab_main"
		>
			<small class="text-uppercase px-3">
				{# Торговые предложения #}
				Торговые предложения </small>
		</button>
	</li>

</ul>


<div class="tab-content" id="category_tab_content">
	
	{# ОСНОВНЫЕ НАСТРОЙКИ #}
	<div class="tab-pane fade show active" id="tab_main" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "main/form.main.html.twig" })) }}
	</div>

	{# ПОСАДОЧНЫЕ БЛОКИ #}
	<div class="tab-pane fade" id="tab_landing" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "landing/form.landing.html.twig" })) }}
	</div>

	{# СВОЙСТВА ПРОДУКТА #}
	<div class="tab-pane fade" id="tab_sections" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "properties/form.properties.html.twig" })) }}
	</div>

	{# ТОРГОВЫЕ ПРЕДЛОЖЕНИЯ #}
	<div class="tab-pane fade" id="tab_offers" role="tabpanel">
		{{ include(_self|replace({ "form.html.twig": "offers/form.offers.html.twig" })) }}
	</div>


</div>









