{% trans_default_domain("admin.profile.type") %}

{% set ROLE = 'ROLE_PRODUCT_CATEGORY' %}

{# ---- ШАБЛОН ------------------------------------------------------------ #}
{% extends '@Core/admin/base.html.twig' %}

{# ---- CSS ------------------------------------------------------------ #}
{% block title %}
	{{ 'admin.page.index'|trans }}
{% endblock %}


{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
	
	{{ include(_self|replace({ "template.html.twig": settings.device~"/content.html.twig" })) }}
	<div style="display: none !important;"
			class="popover popover-body popover-arrow fade show rounded-pill spinner-border spinner-border-sm vertical-middle d-none">
	</div>

{% endblock %}
