<div class="d-flex gap-2">

	<div class="d-flex flex-column gap-2 w-100 mb-2">
		{# Настройки локали #}

		<div class="card card-flush p-4">

			<div class="card-header">
				<div class="card-title">
					<h2>
						{# Секции профиля #}
						Посадочные блоки категории
					</h2>
				</div>
			</div>


			<div class="card-body pt-0">
				{# НАСТРОЙКИ ЛОКАЛИ ПОСАДОЧНЫХ БЛОКОВ #}
				{{ include(_self|replace({ "form.landing.html.twig": "_landing.html.twig" })) }}
			</div>
		</div>
	</div>

</div>